PORT=4000
NODE_ENV=development
MONGOD_URI=mongodb://localhost:27017/cohort



JWT_ACCESS_SECRET=learningWebDev
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=somthingnewsecret
JWT_REFRESH_EXPIRES_IN=7d
